.wrapper-form{
  display: inline-block;
  margin: 0 40px;
  width: 40%;
}

label{
  display: block;
  padding: 10px;
}

input{
  font-size: 1.2em;
  display: block;
  width: 100%;
  height: 15px;
  padding: 10px;
}